<h1>Pending</h1>

<% @spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.status == "Pending" %>
      <a href="#" class="list-group-item" id='pending-group'>
        <span class="list-group-item-heading"><%= space.name %> - <%= booking.booking_date %></span>
        <div class = "btn-group-vertical pull-right">
          <form action="/approve" method="post" id='approve-button'>
            <input type="text" name='booking_id' hidden value= <%=booking.id %>>
            <input type="text" name='space_id' hidden value= <%=space.id %>>
            <input type="submit" value="Approve" class="btn btn-primary btn-block"></button>
          </form>
          <form action="/decline" method="post" id='decline-button'>
            <input type="text" name='booking_id' hidden value= <%=booking.id %>>
            <input type="submit" value="Decline" class="btn btn-primary btn-block"></button>
          </form>
        </div>
        <p class="list-group-item-desc"><%= space.desc %></p>
        <p class="list-group-item-price">£<%= space.price %> per night</p>
        <p class="list-group-item-requestor"><%= @user.get(booking.user_id).email %> requested this.</p>
      </a>
    <% end %>
  <% end %>
<% end %>

<h1>Approved</h1>
<% @spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.status == "Approved" %>
      <a href="#" class="list-group-item" id='approved-group'>
        <span class="list-group-item-heading"><%= space.name %></span>
        <p class="list-group-item-desc"><%= space.desc %></p>
        <p class="list-group-item-price">£<%= space.price %> per night</p>
        <p class="list-group-item-requestor"><%= @user.get(booking.user_id).email %> requested this.</p>

      </a>
    <% end %>
  <% end %>
<% end %>

<h1>Declined</h1>
<% @spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.status == "Declined" %>
      <a href="#" class="list-group-item" id='declined-group'>
        <span class="list-group-item-heading"><%= space.name %></span>
        <p class="list-group-item-desc"><%= space.desc %></p>
        <p class="list-group-item-price">£<%= space.price %> per night</p>
        <p class="list-group-item-requestor"><%= @user.get(booking.user_id).email %> requested this and you declined.</p>

      </a>
    <% end %>
  <% end %>
<% end %>
