<!-- <a href='https://www.facebook.com/andrewcookson?fref=ts'>Old Myspace</a> -->
<div class="col-sm-6 text-left">
<h1>Requests Made</h1>
<h2>Pending</h2>

<% @spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.status == "Pending" %>
      <a href="#" class="list-group-item" id='pending-group'>
        <span class="list-group-item-heading"><%= space.name %></span>
        <form action="/approve" method="post" class="list-group-button">
          <input type="text" name='booking_id' hidden value= <%=booking.id %>>
          <input type="submit" value="Approve" class="btn btn-primary"></button>
        </form>
        <p class="list-group-item-desc"><%= space.desc %></p>
        <p class="list-group-item-price">£<%= space.price %> per night</p>
        <p class="list-group-item-requestor"><%= @user.get(booking.user_id).email %> requested this</p>
      </a>
    <% end %>
  <% end %>
<% end %>

<h2>Approved</h2>
<% @spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.status == "Approved" %>
      <a href="#" class="list-group-item" id='approved-group'>
        <span class="list-group-item-heading"><%= space.name %></span>
        <p class="list-group-item-desc"><%= space.desc %></p>
        <p class="list-group-item-price">£<%= space.price %> per night</p>
        <p class="list-group-item-requestor"><%= @user.get(booking.user_id).email %> requested this</p>

      </a>
    <% end %>
  <% end %>
<% end %>
</div>
<div class="col-sm-6 text-left">
<h1>Requests Made</h1>
<h2>Pending</h2>
<h2>Approved</h2>
</div>
